.App {
  text-align: center;
}

.grid-container{
    margin-left: 23%;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.frm{
  padding: 30px;
}

.dis{
  padding: 10px;
}

.discontainer{
  margin-top: 20px;
}

.points{
  padding: 5px;
  font-size: large;
}

.pointscontainer{
  margin: 20px;
  font-size: large;
}